/* barlow font */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.fw {
  width: 100%;
}

.dn {
  display: none !important;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  flex-direction: column;
}

.hh {
  color: rgb(0, 168, 255);
}

/* navigation section */

.navigation {
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(53, 59, 72);
  position: sticky !important;
  top: 0;
  z-index: 99;
  position: relative;
}

.my-name {
  font-size: 2rem;
  color: rgb(251, 197, 49);
}

.nav-list {
  width: 30%;
  justify-content: flex-end;
  gap: 3rem;
}

.nav-items {
  color: white;
  padding: 10px;
  cursor: pointer;
}

.nav-items:hover {
  color: rgb(156, 136, 255);
}

/* introduction */

.intro {
  background-color: rgb(25, 42, 86);
  flex-direction: column;
  color: white;
  justify-content: flex-start;
  padding: 50px 0;
}

.me-main {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: rgb(251, 197, 49);
}

.dez {
  font-size: 2rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.spzn {
  justify-content: space-evenly;
  padding: 30px;
  margin: 10px;
}

.tech {
  flex-direction: column;
  width: 30%;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 30%,
    rgba(60, 222, 171, 1) 100%
  );
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(0, 0, 0);
  transition: all 0.5s ease;
}

.tech h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 10px;
  color: rgb(25, 42, 86);
}

.tech ul {
  flex-direction: column;
  align-items: flex-start;
}

.tech li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 5px 0;
  color: black;
}

.icn {
  font-size: 3rem;
  padding: 0 30px;
  color: #2785dd;
}

.about {
  width: 60%;
  flex-direction: column;
  padding: 15px;
  background: linear-gradient(
    135deg,
    rgba(60, 222, 171, 1) 30%,
    rgba(28, 146, 233, 1) 100%
  );
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.74);
}

.about p {
  width: 80%;
  font-size: 1.7rem;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}

.about h3 {
  font-size: 3rem;
  font-weight: 300;
  color: rgb(52, 73, 94);
}

/* project display section */

.gallery {
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.gallery h3 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.gallery p {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.img-box {
  flex-direction: column;
  width: 90%;
  height: 80%;
}

.img-box img {
  margin: 20px 0;
}

/* style confrerence */

.project-one {
  background-color: #778ca3;
}

/* pix photography */

.project-two {
  background-color: #2bcbba;
}

/* alpha landing page */

.project-three {
  background-color: #fd9644;
}

/* footer */

.foot {
  flex-direction: column;
  padding: 20px;
  background-color: #778ca3;
}

.info {
  justify-content: space-evenly;
  align-items: flex-end;
}

.reach {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.ed-card {
  width: 20%;
  flex-direction: column;
  padding: 20px 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgb(48, 48, 48);
}

.ed-card h3 {
  font-size: 2rem;
  margin: 10px 0;
}

.ed-card p {
  font-size: 1.5rem;
}

.cta {
  padding: 40px;
  flex-direction: column;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.cta p {
  font-size: 2rem;
}

/* mobile navigation */
.mob-nav {
  width: 100%;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(39, 60, 117);
  padding: 20px;
}

.mob-nav li {
  font-size: 2rem;
  margin: 10px 0;
}

.mbi {
  font-size: 2rem;
  color: white;
  display: none;
}
/* media queries */

@media screen and (max-width: 1440px) {
  .nav-list {
    width: 60%;
  }
  .me-main {
    font-size: 3.5rem;
  }
  .spzn {
    padding: 10px;
    margin: 0%;
  }
  .tech {
    width: 35%;
  }
  .tech h2 {
    font-size: 2rem;
  }
  .about {
    width: 60%;
  }
  .about p {
    width: 90%;
    font-size: 1.3rem;
  }
  .gallery img {
    width: 90%;
  }
  .reach {
    font-size: 3rem;
  }
  .ed-card {
    width: 25%;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    height: auto;
  }
  .ed-card {
    width: 30%;
    padding: 10px;
  }
  .ed-card h3 {
    font-size: 1.5rem;
  }
  .ed-card p {
    font-size: 1rem;
  }
  .cta {
    padding: 10px;
  }
  .cta p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .tech {
    width: 50%;
  }
  .about {
    width: 90%;
  }
  .me-main {
    font-size: 2.5rem;
  }
  .dez {
    font-size: 1.5rem;
  }
  .spzn {
    flex-direction: column;
    gap: 2rem;
  }
  .gallery h3 {
    font-size: 2rem;
  }
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .ed-card,
  .cta {
    width: 50%;
    padding: 20px 0;
  }
}

@media screen and (max-width: 550px) {
  .me-main {
    font-size: 1rem;
  }
  .dez {
    font-size: 0.8rem;
  }
  .my-name {
    font-size: 1rem;
  }
  .tech {
    width: 80%;
  }
  .tech h2 {
    font-size: 1.5rem;
  }
  .tech li {
    font-size: 1rem;
  }
  .about p {
    font-size: 0.9rem;
  }
  .ed-card,
  .cta {
    width: 90%;
  }
}

@media screen and (max-width: 650px) {
  .desk-nav {
    display: none;
  }
  .mbi {
    display: block;
  }
}

@media screen and (max-width: 410px) {
  .gallery h3 {
    font-size: 1.5rem;
  }
  .gallery p {
    font-size: 0.8rem;
  }
  .reach {
    font-size: 1.5rem;
  }
}
